{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="message">Your message:</label>
    <input type="text" name="message" id="message">
    <br><br>
    <label for="handle">Your name or handle:</label>
    <input type="text" name="handle" id="handle">
    <br><br>
    <input type="submit" value="Submit Message">
  </form>

  {% if submitted %}
    <br>
    <p>Thanks for submitting a file! Here is what you submitted</p>
    <br>
    <p>Message: {{message}}</p>
    <br>
    <p>Handle: {{handle}}</p>
  {% endif %}

  {% if error %}
    <br>
    <p>Oh no, there was an error with your submission! Please try again!</p>
  {% endif %}
{% endblock %}
